.banner-image{
  height: 250px;
  background-image: url("../assets/redditBanner.jpg");
  background-position: center;
}

.frontpage{
  display: flex;
  flex-wrap: wrap;
}
.enclosing-link{
  width: 100%;
}